<%= form_for(@authorisation) do |f| %>
  <% if @authorisation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@authorisation.errors.count, "error") %> prohibited this authorisation from being saved:</h2>

      <ul>
      <% @authorisation.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :phone_number %><br />
    <%= f.text_field :phone_number, :placeholder => "07123456789" %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
