<h1>Signup as a <strong>Help Me Now</strong> volunteer</h1>

<%= form_for(@authorisation) do |f| %>
  <% if @authorisation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@authorisation.errors.count, "error") %> prohibited this authorisation from being saved:</h2>

      <ul>
      <% @authorisation.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :phone_number, "Your mobile phone number" %>
    <%= f.text_field :phone_number, :placeholder => "e.g. 07123456789", :type => 'tel' %>
  </div>
  <div class="actions">
    <%= f.submit :value => 'Continue...', :class => 'button gray' %>
  </div>
<% end %>

