<!DOCTYPE html>
<html>
<head>
  <title>999now - When you need a first aider.</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
	<meta name="viewport" content="initial-scale = 1.0,maximum-scale = 1.0,width=720px" />
</head>
<body class='<%= body_classes.join(' ') %>'>

<div id='disclaimer'><strong>999now</strong> is a proof of concept built at <a href='http://leedshack.com/'>LeedsHack 2</a> and not meant for real use<strong>!!!</strong></div>
	
<%= link_to image_tag("logo.png"), root_url, :id => 'logo' %>
<%= render :partial => 'flash_messages' %>	

<%= yield %>

<%= render :partial => 'footer' %>	


</body>
</html>
