<!DOCTYPE html>
<html>
<head>
  <title>Helpmenow</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
	<meta name="viewport" content="initial-scale = 1.0,maximum-scale = 1.0,width=720px" />
</head>
<body class='<%= body_classes.join(' ') %>'>
	
<%= render :partial => 'flash_messages' %>	

<%= yield %>

</body>
</html>
